*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden
}
html{
	scroll-behavior: smooth;
}
	
body{
	font-family: 'Adamina', serif;	
	/*font-size: 15px;*/
}

.hmenu{
	color: white;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	background-color:brown;
  	border: none;
  	border-radius: 30%;
}

.landingpage{
	height: 100vh;
	width: 100vw;
	background:url(../images/atelier.jpeg);
	background-size: cover;
	background-attachment: fixed;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.intro{
	color: white;
	margin-bottom: 20px;
	z-index: 1;
}

.enterbtn{
	text-decoration: none;
	color: white;
	border: none;
	background-color: brown;;
	z-index:1;
}

#enterbtn{
	color: white;
	text-decoration: none;
	font-size: 15px;
	z-index:1;
}

.divbtn{
	background-color: brown;
	border: 1px outset #ddd;
	color: white;
	height: 40px;
	width: 90px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.company {
	text-decoration: none;
	text-transform: uppercase;
	justify-content: center;
	font-size: 20px;
	padding-right: 100px;
	color: white;
}


.navbar {
  text-decoration: none;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: brown;
  position: fixed;
  top: 0;
  z-index: 100;
  
}

.navbarlist {
	font-family: 'Adamina', serif;
	display: flex;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	list-style: none;
}
	
li {
  display: block;
  float: left;
  padding: 0 20px;
  
}

li a {
  float:none;
  display: block;
  color: white;
  text-align: left;
  padding: 8px 16px;
  text-decoration: none;
}

 li:hover {
  transition: 0.3;
	opacity: 0.8;
	background-color: grey;
}

.active {
  background-color: #4CAF50; 
}



.dlist:hover {
	transition: 1s;
	float:right;
}

.dropdowncontent {
	display: none;
	position: absolute;	
	
}



.dropdownparent:hover .dropdowncontent {
	display: flex;
	position: fixed;
	flex-direction: column;
	margin-top: 45px;

}

.dlist {
 display: block;
 background-color: brown;
 border: 2px black;
}

.dropdownparent{
	position: relative;
	display: flex;
	flex-direction: column;
}  


.enterbtn{
	height: 20px;
	width: 50px; 
	border-radius: 30%;
	color: brown;
	font-family: 'Adamina', serif;
	font-size: 13px;
}

#home{
	display:block;
	align-items: center;
}

.welcome{
    color: brown;
    background-color: brown;
    text-align: center;
}

.home{
	height:100vh;
	width: 100vw;
	background:url(../images/flower.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	justify-content: space-around;
	align-items: center;
	display: flex;
	flex-direction: row;
}
.ourstory{
	margin: 10px 20px; 
	min-height: 65vh;
	width: 40vw;
	background-color: brown;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	opacity: 0.5;
	z-index: 1;
	border: 10px outset #ddd;
}

.storyh1{
	font-family: 'Adamina', serif;
	font-size: 40px;
	color: white;
}

.storyp1{
	color: white;
	font-family:'Adamina', cursive;	
	font-size: 25px;
    padding: 20px;
    text-align: center;
}



.storyp2{
	color: white;
	font-family:'Adamina', cursive;	
	font-size: 25px;
	background-color: brown;
}

#storyp2{
	color: white;
	text-decoration: underline;
}

.my_class_name {
	margin: 0 auto;
	border: 10px outset #ddd;
}

.room{
  height: 350px;
  width: 20%;
  display: flex;
  opacity: 0.7;
  flex-direction: column;
  background-color: brown;
  align-items: center;
  margin-top: 50px;
  border: 10px outset #ddd;
}



.label {
	display: flex;
	height: 100px;
	width: 80%;
	margin-top: 100px;
	margin-bottom: 25px;
	align-items: center;
	justify-content: center;
}

.services{
	width: 100vw;
	height: 90vh;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	background-size: cover;
	text-align: center;
	background: url(../images/board.jpg);
	background-attachment: fixed;
	background-position: center;
	
}

.imagecontainer{
  height: 50%; 
  width: 185px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-content: center; 	
}

#image1 {
	padding-left: 0px;
	/*border-radius: 40%;*/
	display: block;
	justify-content: center;
	align-content: center;
	/*right: 50px;*/
}

.book {
	display: block;
	height:  30px;
	padding-bottom: 30px;
	border-radius: 20%;
    text-align: center;
	align-items: center;
}

.room:hover{
	/* transition: 2.0s;
	size: 110%; */
	animation: bounce 1s;
	/* box-shadow: 10px 10px grey; */
	
}

.p1 {
	font-family:'Adamina', cursive;	
	font-size: 19px;
	color: white;	
	text-decoration: none;
	margin-top: 20px;
}

.border{
	color:white;
    background-color: brown;
    text-align: center;
}

.menu {
	height: 100vh;
	width: 100vw;
	display: flex;
	background:url(../images/board.jpg);
	background-size: cover;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.coffeephotos{
	text-decoration: none;
	list-style: none;
	margin: 30px;
}	

.coffeephotos > .cpic {
	transition: 1s;
	}

.cpic{
	border: 10px outset #ddd;
}

.coffeephotos > .cpic:hover{
	transform: scale(1.05);
}
#coffee{
    color: white;
}

.menuitem{
	text-align: center;
	padding: 5px;
	position: relative;
	border: 0;
}


@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.coffeeclass{
	background:url(../images/notebook.jpg);
	height: 100vh;
	width: 100vw;
	justify-content: space-around;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	position: static;
	align-items: center;
	flex-direction: row;
}

.classimage{
	height: 100vh;
	width: 50vw;
	/* margin: 20px; */
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	
}

.b1{
	position: absolute;
	height: 300px;
	width: 300px;
	top: 100px;
	left: 100px;
	z-index: 1;
	 opacity: 0.7; 
} 

.b2{
	position: absolute;
	height: 300px;
	width: 300px;
	top: 150px;
	left: 150px;
	z-index: 2;
	 opacity: 0.7; 
}

.b3{
	position: absolute;
	height: 300px;
	width: 300px;
	top: 200px;
	left: 200px;
	z-index: 3;
	 opacity: 0.7;  
}

.b1:hover{
	transition: 0.5s;
	transform: scale(1.2);
	opacity: 1;
	z-index: 4;
}

.b2:hover{
	transition: 0.5s;
	transform: scale(1.2);
	opacity: 1;
	z-index: 4;
}

.b3:hover{
	transition: 0.5s;
	transform: scale(1.2);
	opacity: 1;
	z-index: 4;
}

.classtext{
	margin: 10px 20px; 
	height: auto;
	width: 45%;
	background-color: brown;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	opacity: 0.5;
	border:10px outset #ddd;
	
}

#signup{
	color: white;
	text-decoration: underline;
	
}

.beansforsale {
	height: 100vh;
	width: 100vw;
	background:url(../images/spill.jpg);
	background-size: cover;
	background-attachment: fixed;
	align-items: center;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
}

.beancontainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.kape { 
	color: white;
	background-color: brown;
	padding: 0;
	margin: 30px;
	border: 2px outset #ddd;
	text-align: center;

}




.coffeetasting{
	background:url(../images/goodidea.jpg);
	height: 100vh;
	width: 100vw;
	justify-content: space-around;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	position: static;
	/* align-items: center; */
	flex-direction: row;
}


.tastingimage{		
    height: 100vh;
    width: 50vw;
   /* margin: 20px; */
    display: flex;
    position: relative;
	flex-direction: column;
	justify-content: column;
    /* align-items: center; */
}

.imagesec1{
	height: 50%;
	width: 50vw;
	display: flex;
	flex-direction: row;
	/* justify-content: flex-start; */
	position: relative;
}

.imagesec1{
	height: 50%;
	width: 50vw;
	display: flex;
	flex-direction: row;
	/* justify-content: flex-end; */
	position: relative;
}


.c1{
	position: absolute;
	height: 200px;
	width: 200px;
	top: 70px;
	right: 100px;
	z-index: 1;
	opacity: 0.7;
	
} 
.c2{
	position: absolute;
	height: 200px;
	width: 200px;
	top: 70px;
	right: 200px;
	z-index: 2;
	opacity: 0.7;
	
} 
.c3{
	position: absolute;
	height: 200px;
	width: 200px;
	top: 70px;
	right: 300px;
	z-index: 3;
	opacity: 0.7;
	
} 
.c4{
	position: absolute;
	height: 200px;
	width: 200px;
	top: 70px;
	right: 400px;
	z-index: 4;
	opacity: 0.7;
	
} 
.c5{
	position: absolute;
	height: 200px;
	width: 200px;
	top: 70px;
	right: 500px;
	z-index: 5;	
	opacity: 0.7;
} 
.c6{
	position: absolute;
	height: 200px;
	width: 200px;
	bottom: 70px;
	right: 100px;
	z-index: 1;
	opacity: 0.7;
	
} 
.c7{
	position: absolute;
	height: 200px;
	width: 200px;
	bottom: 70px;
	right: 200px;
	z-index: 2;
	opacity: 0.7;
	
} 
.c8{
	position: absolute;
	height: 200px;
	width: 200px;
	bottom: 70px;
	right: 300px;
	z-index: 3;
	opacity: 0.7;
	
} 
.c9{
	position: absolute;
	height: 200px;
	width: 200px;
	bottom: 70px;
	right: 400px;
	z-index: 4;
	opacity: 0.7;
	
} 
.c10{
	position: absolute;
	height: 200px;
	width: 200px;
	bottom: 70px;
	right: 500px;
	z-index: 5;
	opacity: 0.7;	
} 

#tastinghover:hover {
transition: 1s;
transform: scale(1.2);
z-index: 10;
opacity: 1;
}

.contactus{
	background: url(../images/goodidea.jpg);
	background-size: cover;
	background-attachment: fixed;
    /* justify-content: center; */
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	
}

input[type=text], select, textarea {
	width: 70%; 
	padding: 0px;  
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: horizontal;
  }

  input[type=submit] {
	background-color: brown;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }

  input[type=submit]:hover {
	background-color: #111;
  }
  
  .formcontents {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
  }

  .classtext:hover {
	transition: 1s;
    background-color: grey;
  }

  .mapouter{
	  border-radius: 0%;
	  border: 2px silver;
  }

.ender1{
	text-align: center;
	color: white;
}

.ender2{
	text-align: center;
	/* justify-content: center; */
	color: white;
	

}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.fa {
	padding: 10px;
	font-size: 20px;
	width: 30px;
	text-align: center;
	text-decoration: none;
  }
  
  .fa:hover {
	opacity: 0.7;
	color: grey;
  }
  

  .fa-facebook {
	background: #3B5998;
	color: white;
	border-radius:60%; 
  }
  
  
  .fa-twitter {
	background: #55ACEE;
	color: white;
	border-radius: 60%;
  }

  .fa-instagram {
	  background: #D442F5;
	  color: white;
	  border-radius: 60%;
  }


.divfooter {
	height: 29%;
	width:100%; 
	justify-content: center; 
	display: flex;
	flex-direction: column;
}

.imagescontainer{
	display: flex;
	justify-content: center;
	align-items: center;
}


.fullscreenbg {
	position: static;
	display: block;
    top: 0;
    right: 0;
    bottom: 0;
	left: 0;
	z-index: 1;
	height: 350px;
	width: 250px;
	
}


.fullscreenbg iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.caption{
	z-index: 2;
	text-align: right;
	padding-right: 7.5%;
	margin-bottom: 10%;
}

.captionh{
	color: white;
	z-index: 2;
	text-decoration: underline;
	font-family: 'Pinyon Script', cursive;
	font-size: 35px;
}

.form{
	width: 50%;
}

.coffeebean {
	color: white;
}

[class*="col-"] {
	float: left;
	padding: 15px;
  }

  @media only screen and (min-width: 768px) {
  /* Desktop */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  }

  @media only screen and (min-width: 600px) {
	/* tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
  }


       /* Mobile */
  @media only screen and (max-width: 768px) {
	[class*="col-"]{
        width:100%;
	}
}
	@media screen and (max-width: 400px) {
			.services{
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;
				justify-content: center;
				
			}
			.navbar{
				width: 100%;
				height: 50px;
				font-size: 10px;
			}
			.navbarlist{
				display: none
			}
			li>a{
			   line-height: 80px;
			   text-align: center;
			   text-decoration: none;
			   font-size: 10px;
			}
			.company{
			width: 200px;
			height:50px;
			float: left;
			padding-left: 40px;
			}
			.room{
				width: 75%;
				height: auto;
				margin-bottom: 10px;
				padding-top: -30px;
				margin-left: 50px;
			}
			.coffeephotos{
				width: 100%;
				height:auto;
				justify-content: space-between;
			}
            .menuitem{
				width: 50%;
				height:auto;
			}
			.beansforsale{
				width: 100%;
				height: auto;
				display:flex;
				flex-direction: column;
				justify-content: center;
			}
			.coffeeclass{
				width: 100%;
				height: auto;
				display: flex;
			}
			.classtext{
				width: 100%;
				height: 100%;
				border-radius: 0;
			}
			.storyp1{
				font-size: 15px;
			}
			.storyh1{
				font-size:15px;
			}
			.classimage{
				display: none
			}
			.beancontainer{
				height:auto;
				width: 100%;
				justify-content: center;
				display: flex;
				flex-direction:column;
			}
            .coffeetasting{
				height: auto;
				width: 100%;
				justify-content: center;
			}
			.tastingimage{
				display: none;
			}
			.home{
				width: 100%;
				height: auto;
				justify-content: center;
				align-items: center;
				display:flex;
				flex-direction: column-reverse;
			}

			.storycontainer{
				padding: 0;
				margin-right: 20px;
			}
			.ourstory{
				width: 100%;
				height: 100%;
				border-radius: 0;
			}
			.landingpage{
				height: auto;
				width: 100%;
				justify-content: center;
				align-items: center;
				display: none;
			}
			.divbtn{
				width:100%;
				height: auto;
			}
			.contactus{
				height:auto;
				width: 100%;
				justify-content: center;
				display: flex;
				flex-direction: column;
			}
			.formcontents{
				height:auto;
				width: 100%;
				justify-content: center;
				display: flex;
				flex-direction: column;
			}
			.mapouter{
				height: auto;
				width: 100%;
				justify-content: center;
				align-items: center;
				margin: 15px;
				border-radius: 0;
			}

			.gmap_canvas{
				height: auto;
				width: 100%;
				justify-content: center;
				align-items: center;
				padding-left: 65px;
				margin: 15px;
			}
			.form{
				height: auto;
				width: 100%;
			}
			.footer{
				height: auto;
				width: 100%;
			}
			
			
		}
		@media screen and (min-width: 400px) and (max-width: 900) {
			.services{
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;
				justify-content: center;
				
			}
			.navbar{
				width: 100%;
				height: 50px;
				font-size: 10px;
			}
			.navbarlist{
				display: none
			}
			li>a{
			   line-height: 80px;
			   text-align: center;
			   text-decoration: none;
			   font-size: 10px;
			}
			.company{
				width: 200px;
				height:50px;
				float: left;
				padding-left: 40px;
			}
			.room{
				width: 75%;
				height: auto;
				margin-bottom: 10px;
				padding-top: -30px;
				margin-left: 50px;
			}
			.coffeephotos{
				width: 100%;
				height:auto;
				justify-content: center;
				align-items: center;
			}

			.menu {
				display: flex;
			}
            .menuitem{
				width: 50%;
				height:auto;
				justify-content: center;
				align-items: center;
				margin-left: 50px;
				
			}
			.beansforsale{
				width: 100%;
				height: auto;
				display:flex;
				flex-direction: column;
				justify-content: center;
			}
			.coffeeclass{
				width: 100%;
				height: auto;
				display: flex;
			}
			.classtext{
				width: 100%;
				height: 100%;
				border-radius: 0;
			}
			.storyp1{
				font-size: 15px;
			}
			.storyh1{
				font-size:15px;
			}
			.classimage{
				display: none
			}
			.beancontainer{
				height:auto;
				width: 100%;
				justify-content: center;
				display: flex;
				flex-direction:row;
			}
            .coffeetasting{
				height: auto;
				width: 100%;
				justify-content: center;
			}
			.tastingimage{
				display: none;
			}
			.home{
				width: 100%;
				height: auto;
				justify-content: center;
				align-items: center;
				display:flex;
				flex-direction: column-reverse;
			}

			.storycontainer{
				padding: 0;
				margin-right: 20px;
			}
			.ourstory{
				width: 100%;
				height: 100%;
				border-radius: 0;
			}
			.landingpage{
				height: auto;
				width: 100%;
				justify-content: center;
				align-items: center;
			}
			.divbtn{
				width:100%;
				height: auto;
				padding top: 
			}
			.contactus{
				height:auto;
				width: 100%;
				justify-content: center;
				display: flex;
				flex-direction: column;
			}
			.formcontents{
				height:auto;
				width: 100%;
				justify-content: center;
				display: flex;
				flex-direction: column;
			}
			.mapouter{
				height: auto;
				width: 100%;
				justify-content: center;
				align-items: center;
				margin: 15px;
				border-radius: 0;
			}

			.gmap_canvas{
				height: auto;
				width: 100%;
				justify-content: center;
				align-items: center;
				padding-left: 65px;
				margin: 15px;
			}
			.form{
				height: auto;
				width: 100%;
			}
			.footer{
				height: auto;
				width: 100%;
			}
			
			
		}
			